.cid-s48MCQYojq {
    background-image: url("../../../assets/images/6.jpg");
}

.cid-s48MCQYojq .mbr-section-title {
    text-align: center;
}

.cid-s48MCQYojq .mbr-text,
.cid-s48MCQYojq .mbr-section-btn {
    color: #232323;
    text-align: center;
}

@media (max-width: 991px) {
    .cid-s48MCQYojq .mbr-section-title,
    .cid-s48MCQYojq .mbr-section-btn,
    .cid-s48MCQYojq .mbr-text {
        text-align: center;
    }
}

.mbr-fullscreen .mbr-overlay {
    min-height: 100vh;
}

.mbr-fullscreen {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mbr-fullscreen .mbr-overlay {
    min-height: 100vh;
}

.mbr-section-title {
    font-style: normal;
    line-height: 1.3;
}

.mbr-text {
    font-style: normal;
    line-height: 1.7;
}

.cid-s48udlf8KU {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.cid-s48udlf8KU .mbr-section-title {
    text-align: left;
}

.cid-s48udlf8KU .mbr-section-subtitle {
    text-align: left;
}

.mbr-section-subtitle {
    line-height: 1.3;
}

.cid-s48upRUlSD {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.justify-content-center {
    -webkit-justify-content: center;
}

.align-center {
    text-align: center;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 991px) {
    .cid-s48upRUlSD .image-wrapper {
        margin-bottom: 1rem;
    }
}