<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">



    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>What We Do.</strong></h1>
                <p class="mbr-text mbr-fonts-style display-7">
                    We work with our clients to set a realistic budget and undertake work according to a specified brief so everyone knows what they will be getting in the end. We have done contracted work ranging from big brands like JP Morgan through Gameface Media down
                    to small local businesses who also understand the importance of high quality imagery.
                </p>
            </div>
        </div>
    </div>
</section>